@model LimudimDayList

@{
    ViewData["Title"] = "Get-Schedule-1-day";
    string CompletedStyle(bool? isCompleted)
    {
        if (isCompleted == true)
        {
            <text>my-bg-comp</text>
        }
        else
        {
            <text>my-bg-notComp</text>
        }
        return null;
    }

}




<h4 class="text-center text-white">@Model.HebrawData ~ @Model.DateOfList.ToShortDateString()</h4>
<hr />
<div class="row">
    @foreach (var l in Model)
    {
        <div class="col-sm-4 col-lg-3 h-100">
            <div class="@CompletedStyle(l.Completed) rounded-lg h-100">
                <div class="m-2">
                    <p>@l.LimudStringHebraw</p>
                    <p>Count of Study: @l.LimudTimes</p>
                    <p class="compPText">
                        @{
                            if (l.Completed == true)
                            {
                                <text>Completed</text>
                            }
                            else
                            {
                                <text>Incomplete</text>
                            }
                        }
                    </p>
                    <div class="form-group text-center">
                        <partial name="_CompletedPartial" model="l" />
                        <a class="btn badge-light text-info" asp-action="Detail" asp-route-id="@l.LimudChartId" asp-route-date="@l.LimudDate.GetDashDate()" asp-route-pageId="@l.LimudId.GetDashString()"
                           asp-route-description="@l.LimudStringEng.GetDashString()" asp-route-ChazurahType="@l.ChazurahType" asp-route-ChazuraTimes="@l.ChazuraTimes">More Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Count < 1)
{
    <div class="text-center">Nothing scheduled</div>
}
@section Scripts{
    <script src="~/js/CompletedAjax.js"></script>
}

